<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="dil.test.deferred_components.detail">
    
    <application android:hasCode="false" android:exported="true"/>

    <dist:module
        dist:instant="false"
        dist:title="@string/detailName">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
